html {
	min-width:			960px;
	min-height:			100%;
	font-family: 		"Museo", "Palatino", "Hoefler Text", "Baskerville", "Georgia", "Times New Roman", serif;
	font-size:			16px;
	line-height:		16px;
}

h1 {
	font-size:			28px;
	margin-top:			16px;
	margin-bottom:		16px;
}

body#log_in {
	min-height:			100%;
	background: 		#507282; /* Old browsers */
	background: 		-moz-radial-gradient(center, ellipse cover,  #507282 0%, #345262 100%); /* FF3.6+ */
	background: 		-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#507282), color-stop(100%,#345262)); /* Chrome,Safari4+ */
	background: 		-webkit-radial-gradient(center, ellipse cover,  #507282 0%,#345262 100%); /* Chrome10+,Safari5.1+ */
	background: 		-o-radial-gradient(center, ellipse cover,  #507282 0%,#345262 100%); /* Opera 12+ */
	background: 		-ms-radial-gradient(center, ellipse cover,  #507282 0%,#345262 100%); /* IE10+ */
	background: 		radial-gradient(ellipse at center,  #507282 0%,#345262 100%); /* W3C */
	filter: 			progid:DXImageTransform.Microsoft.gradient( startColorstr='#507282', endColorstr='#345262',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#log_in form {
	position: absolute;
	background-color:	#405e6b;
	border-radius:		2px;
	width:				336px;
	height:				192px;
	left:				50%;
	top:				50%;
	margin-left:		-168px;
	margin-top:			-96px;
}

#log_in form ul {
	margin:				0 16px;
	padding:			0;
	list-style-type:	none;
}

#log_in h1 {
	text-align: 		center;
	color:				#fff;
}

#log_in form ul li {
	margin:				0;
	padding:			-16px;
	width:				100%;
	line-height:48px;
}

#log_in input[type="text"],
#log_in input[type="password"]{
	font-size:			20px;
	width:				272px;
	height:				48px;
	padding:			0 15px;
	margin-bottom:		16px;
}

input[type="text"],
input[type="password"] {
	line-height:		32px;
	display:			block;
	padding:			0 16px;
	margin:				0;
	height:				32px;
	border-radius:		2px;
	border:				1px solid #989898;
}

.hide {
	display:			none;
}

@font-face {
  font-family: 'Museo';
  src: url('../fonts/Museo300-Regular-webfont.ttf');
  font-weight: 200;
  font-style: normal;
}


@font-face {
  font-family: 'Museo';
  src: url('../fonts/Museo500-Regular-webfont.ttf');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Museo Slab';
  src:url('../fonts/museo_slab_500-webfont.ttf');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Museo Slab';
  src: url('../fonts/museo_slab_500italic-webfont.ttf');
  font-weight: 500;
  font-style: italic;
}

/*
	Variable Grid System.
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/

	Licensed under GPL and MIT.
*/

/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/

body {
  min-width: 960px;
}

/* Containers
----------------------------------------------------------------------------------------------------*/
.container_12 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/


.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 8px;
	margin-right: 8px;
}



.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12 {
	position:relative;
}


/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .grid_1 {
	width:64px;
}

.container_12 .grid_2 {
	width:144px;
}

.container_12 .grid_3 {
	width:224px;
}

.container_12 .grid_4 {
	width:304px;
}

.container_12 .grid_5 {
	width:384px;
}

.container_12 .grid_6 {
	width:464px;
}

.container_12 .grid_7 {
	width:544px;
}

.container_12 .grid_8 {
	width:624px;
}

.container_12 .grid_9 {
	width:704px;
}

.container_12 .grid_10 {
	width:784px;
}

.container_12 .grid_11 {
	width:864px;
}

.container_12 .grid_12 {
	width:944px;
}




/* Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .prefix_1 {
	padding-left:80px;
}

.container_12 .prefix_2 {
	padding-left:160px;
}

.container_12 .prefix_3 {
	padding-left:240px;
}

.container_12 .prefix_4 {
	padding-left:320px;
}

.container_12 .prefix_5 {
	padding-left:400px;
}

.container_12 .prefix_6 {
	padding-left:480px;
}

.container_12 .prefix_7 {
	padding-left:560px;
}

.container_12 .prefix_8 {
	padding-left:640px;
}

.container_12 .prefix_9 {
	padding-left:720px;
}

.container_12 .prefix_10 {
	padding-left:800px;
}

.container_12 .prefix_11 {
	padding-left:880px;
}



/* Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .suffix_1 {
	padding-right:80px;
}

.container_12 .suffix_2 {
	padding-right:160px;
}

.container_12 .suffix_3 {
	padding-right:240px;
}

.container_12 .suffix_4 {
	padding-right:320px;
}

.container_12 .suffix_5 {
	padding-right:400px;
}

.container_12 .suffix_6 {
	padding-right:480px;
}

.container_12 .suffix_7 {
	padding-right:560px;
}

.container_12 .suffix_8 {
	padding-right:640px;
}

.container_12 .suffix_9 {
	padding-right:720px;
}

.container_12 .suffix_10 {
	padding-right:800px;
}

.container_12 .suffix_11 {
	padding-right:880px;
}



/* Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .push_1 {
	left:80px;
}

.container_12 .push_2 {
	left:160px;
}

.container_12 .push_3 {
	left:240px;
}

.container_12 .push_4 {
	left:320px;
}

.container_12 .push_5 {
	left:400px;
}

.container_12 .push_6 {
	left:480px;
}

.container_12 .push_7 {
	left:560px;
}

.container_12 .push_8 {
	left:640px;
}

.container_12 .push_9 {
	left:720px;
}

.container_12 .push_10 {
	left:800px;
}

.container_12 .push_11 {
	left:880px;
}



/* Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .pull_1 {
	left:-80px;
}

.container_12 .pull_2 {
	left:-160px;
}

.container_12 .pull_3 {
	left:-240px;
}

.container_12 .pull_4 {
	left:-320px;
}

.container_12 .pull_5 {
	left:-400px;
}

.container_12 .pull_6 {
	left:-480px;
}

.container_12 .pull_7 {
	left:-560px;
}

.container_12 .pull_8 {
	left:-640px;
}

.container_12 .pull_9 {
	left:-720px;
}

.container_12 .pull_10 {
	left:-800px;
}

.container_12 .pull_11 {
	left:-880px;
}




/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
  zoom: 1;
}