html {
	min-width:			960px;
	font-family: 		"Museo", "Palatino", "Hoefler Text", "Baskerville", "Georgia", "Times New Roman", serif;
	font-weight:		200;
	font-size:			16px;
	line-height:		16px;
	min-height:			100%;
}

body {
	max-width:			100%;
	background-color: 	#e5dac0;
	overflow-y:			scroll;
}

h1 {
	font-size:			32px;
	margin-top:			16px;
	margin-bottom:		16px;
	margin-left:		8px;
	margin-right:		8px;
	font-weight:		500;
}

h2 {
	font-size:			24px;
	margin:				16px 8px;
}

p {
	margin-bottom:		16px;
}

p:last-child {
	margin-bottom:		0;
}

span.API_Result {
	display:			none;
}

#body_wrapper {
	display:			block;
	margin-left: 		auto;
	margin-right: 		auto;
	width: 				960px;
	margin-top:			48px;
}

/**
 * LOG IN
 */
body#log_in {
	min-height:			100%;
	background: 		#507282; /* Old browsers */
	background: 		-moz-radial-gradient(center, ellipse cover,  #507282 0%, #274352 100%); /* FF3.6+ */
	background: 		-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#507282), color-stop(100%,#274352)); /* Chrome,Safari4+ */
	background: 		-webkit-radial-gradient(center, ellipse cover,  #507282 0%,#274352 100%); /* Chrome10+,Safari5.1+ */
	background: 		-o-radial-gradient(center, ellipse cover,  #507282 0%,#274352 100%); /* Opera 12+ */
	background: 		-ms-radial-gradient(center, ellipse cover,  #507282 0%,#274352 100%); /* IE10+ */
	background: 		radial-gradient(ellipse at center,  #507282 0%,#274352 100%); /* W3C */
	filter: 			progid:DXImageTransform.Microsoft.gradient( startColorstr='#507282', endColorstr='#274352',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#log_in form {
	position: absolute;
	background-color:	#405e6b;
	border-radius:		2px;
	width:				336px;
	height:				192px;
	left:				50%;
	top:				50%;
	margin-left:		-168px;
	margin-top:			-96px;
	box-shadow: 		0 1px 2px #274352;
}

#log_in form ul {
	margin:				0 16px;
	padding:			0;
	list-style-type:	none;
}

#log_in h1 {
	text-align: 		center;
	color:				#fff;
}

#log_in form ul li {
	margin:				0;
	padding:			-16px;
	width:				100%;
	line-height:48px;
}

#log_in input[type="text"],
#log_in input[type="password"]{
	font-size:			20px;
	width:				272px;
	height:				48px;
	padding:			0 15px;
	margin-bottom:		16px;
}

#log_in #company_name {
	display: 			block;
	margin-left: 		auto;
	margin-right: 		auto;
	width: 				960px;
	text-align:			right;
	margin-top:			16px;
	color:				rgba(255,255,255,0.3);
}

input[type="text"],
input[type="password"] {
	font-family: 		"Museo", "Palatino", "Hoefler Text", "Baskerville", "Georgia", "Times New Roman", serif;
	font-weight:		200;
	border:				1px solid #989898;
	line-height:		32px;
	display:			block;
	padding:			0 16px;
	margin:				0;
	height:				30px;
	border-radius:		2px;
}

input[type="submit"] {
	padding:			8px 16px;
	background-color:	#507282;
	border:				none;
	border-radius:		2px;
	color: 				#fff;
	font-family: 		"Museo", "Palatino", "Hoefler Text", "Baskerville", "Georgia", "Times New Roman", serif;
	font-weight:		200;
	font-size:			24px;
	cursor:				pointer;
}

input[type="submit"].hide {
	display:			block;
	visibility:			hidden;
	height:				0;
	width:				0;
	margin:				0;
	padding:			0;
	border:				none;
}

.hide {
	display:			none;
}

/**
 * Fonts
 */
@font-face {
  font-family: 			'Museo';
  src: 					url('../fonts/Museo300-Regular-webfont.ttf');
  font-weight: 			200;
  font-style: 			normal;
}


@font-face {
  font-family: 			'Museo';
  src: 					url('../fonts/Museo500-Regular-webfont.ttf');
  font-weight: 			500;
  font-style: 			normal;
}


@font-face {
  font-family: 			'Museo Slab';
  src:					url('../fonts/museo_slab_500-webfont.ttf');
  font-weight: 			500;
  font-style: 			normal;
}


@font-face {
  font-family: 			'Museo Slab';
  src: 					url('../fonts/museo_slab_500italic-webfont.ttf');
  font-weight: 			500;
  font-style: 			italic;
}

/**
 * HEADER
 */
header {
	margin-left:			auto;
	margin-right:			auto;
	width:					960px;
	height:					48px;
	background-color:		#507282;
	font-size:				18px;
	font-weight:			200;
}

header:after {
	content:				'';
	position:				absolute;
	right:					0;
	top:					0;
	display:				inline-block;
	width:					100%;
	height:					48px;
	background-color: 		#507282;
	z-index: -1;
}

/**
 * TOP LEVEL NAVIGATION
 */

#top_level_nav ul {
	list-style-type:		none;
	display:				inline;
	float: 					left;
	position: 				relative;
	margin-left: 			0px;
	margin-right: 			8px;
	width:					392px;
	height:					48px;
}

#top_level_nav li {
	display:				inline-block;
	text-indent:  			0;
	margin:					0;
	padding:				0;
	height:					48px;
	float:					left;
}

#top_level_nav a {
	display:				inline-block;
	height:					16px;
	padding:				17px 8px 14px 8px;
	margin:					0 0 1px 0;
	color:					#fff;
	text-decoration:		none;
}

#top_level_nav a:hover,
#top_level_nav li.here a {
	padding-bottom:			12px;
	border-bottom:			2px solid #fff;
}

/**
 * SUB-LEVEL NAVIGATION
 */

#second_level_nav {
	margin-left:			auto;
	margin-right:			auto;
	width:					960px;
	height:					32px;
	background-color:		#5c4d40;
	font-size:				18px;
	font-weight:			200;
}

#second_level_nav:before {
	content:				'';
	position:				absolute;
	left:					0;
	display:				inline-block;
	width:					100%;
	height:					32px;
	background-color: 		#5c4d40;
	z-index: 				-1;
}

#second_level_nav ul {
	display:				inline;
	float: 					left;
	position: 				relative;
	margin-left: 			0;
	margin-right: 			8px;
	width:					952px;
	height:					32px;
}

#second_level_nav ul li {
	float:					left;
	display:				inline-block;
	height:					32px;
	margin:					0;
	padding:				0;
	text-indent:			0;
}

#second_level_nav a {
	display:				inline-block;
	color:					#e5dac0;
	text-decoration:		none;
	height:					13px;
	padding:				6px 8px 12px 8px;
	margin-top:				1px;
}

#second_level_nav a:hover,
#second_level_nav li.here a {
	background-color:		#e5dac0;
	color:					#5c4d40;
}

/**
 * ACCOUNT CONTROLS
 */
ul#account_controls {
	text-align:				right;
	display:				inline;
	float: 					left;
	position: 				relative;
	margin-left: 			8px;
	margin-right: 			16px;
	width:					296px;
	height:					48px;
}

ul#account_controls > li {
	text-align:				left;
	display:				inline-block;
	height:					32px;
	width:					auto;
	margin:					9px 0 -2px -4px;
	padding:				0;
}

ul#account_controls > li:last-child a {
	text-align:				center;
	width:					16px;
}

ul#account_controls > li.alert > a {
	background-color:		#bf492f;
	color:					#fff;
}

ul#account_controls > li > a {
	display:				inline-block;
	color: 					#507282;
	background-color:		#3c5965;
	text-decoration:		none;
	border-radius: 			2px;
	height:					16px;
	padding:				8px;
	margin:					0;
}

ul#account_controls > li:hover > a,
ul#account_controls > li.show > a {
	color:					#ffffff;
}

ul#account_controls > li > ul {
	position:				absolute;
	display:				none;
	padding-top:			7px;
	font-size:				16px;
}

ul#account_controls > li > ul li {
	display:				block;
}

ul#account_controls > li > ul a {
	display:				block;
	color:					#fff;
	text-decoration:		none;
	background-color:		#3c5965;
	padding:				4px 16px 4px 8px;
}

ul#account_controls > li > ul a:hover {
	text-decoration:		underline;
}

ul#account_controls > li > ul:before {
	display:				block;
	position:				absolute;
	content:				"";
	width:					0;
	height:					0;
	left:					50%;
	margin-left:			-4px;
	top:					-1px;
	border-right:			8px solid transparent;
	border-left:			8px solid transparent;
	border-bottom:			8px solid #3c5965;

}

ul#account_controls > li > ul li:first-child a {
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	padding-top: 			8px;
}

ul#account_controls > li > ul li:last-child a {
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	padding-bottom:			8px;
}

ul#account_controls.nojs > li:hover > ul,
ul#account_controls > li.show > ul {
	display:				block;
	z-index:				100;
}

/**
 * Search Bar
 */

form#search_bar {
	display:				inline;
	float:					left;
	position:				relative;
	padding-left:			15px;
	margin-right:			8px;
	width:					216px;
	height:					46px;
	margin-top:				1px;
	border-left:			1px solid #3c5965;
	overflow:				hidden;
} 

form#search_bar input[type="text"] {
	margin-top:			8px;
	display:			inline-block;
	font-size:			18px;
	font-family: 		"Museo", "Palatino", "Hoefler Text", "Baskerville", "Georgia", "Times New Roman", serif;
	font-weight:		200;
	width:				175px;
	height:				30px;
	padding-left:		8px;
	padding-right:		0;
	border-right:		0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

form#search_bar input[type="submit"]
{
	vertical-align: 	top;
	display:			inline-block;
	width:				32px;
	height:				32px;
	margin:				8px 0 0 -6px;	
	border:				1px solid #989898;
	text-indent:		1000px;
	border-left:		0;
	background-color:	#ffffff;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	background-image:	url("../img/searchIcon.png");
	background-repeat:	no-repeat;
	background-position:50% 50%;
}
form#search_bar input[type="submit"]:hover {
	cursor:				pointer;
}

/**
 * FULL SIZE SEARCH // what I mean is, the larger search input.
 */

#search_section {
	margin-left: 		auto;
	margin-right: 		auto;
	width: 				960px;
	margin-top:			48px;
}

#search_section form {
	padding-right:		160px;
	padding-left:		160px;
	width:				624px;
	display:			inline;
	float: 				left;
	position: 			relative;
	margin-left: 		8px;
	margin-right:		8px;
}

#search_section input[type="text"]
{
	width: 				608px;
	height:				46px;
	font-size:			24px;
	padding-left:		8px;
	padding-right:		8px;
}

#search_section:after {
	content:			"";
	display:			block;
	clear:				both;
}

#search_results {
	list-style-type:	none;
	margin-left: 		auto;
	margin-right: 		auto;
	margin-top:			48px;
	width: 				960px;
	padding-top:		47px;
	border-top:			1px solid #ccc3a9;
}

#search_results li {
	display:			inline;
	float:				left;
	position:			relative;
	padding:			16px 8px 16px 8px;
	width:				624px;
	margin-right:		320px;
	margin-bottom:		16px;
	border-radius:		2px;
}

span.search_term {
	font-weight:		500;
}

#search_results li a:first-child {
	font-size:			18px;
	color:				#0b72bf;
	margin-bottom:		16px;
}

#search_results li a:last-child {
	font-size:			12px;
	color:				#829548;
}

#search_results p {
	font-size:			16px;
	margin-top:			16px;
}

/**
 * MIGRATION
 */
#migration {
	margin-left: 		auto;
	margin-right: 		auto;
	width: 				960px;
	margin-top: 		48px;
}

#begin_migration {
	height:				30px;
	padding:			0 15px;
	background-color:	#507282;
	border:				none;
	font-size:			18px;
	font-family: 		"Museo", "Palatino", "Hoefler Text", "Baskerville", "Georgia", "Times New Roman", serif;
	font-weight:		200;
	line-height:		16px;
	color:				#a8b9c1;
	margin-bottom:		32px;
	border-radius:		2px;
	border:				1px solid #507282;
}

#begin_migration:hover {
	cursor:				pointer;
	border-bottom:		1px solid #3c5965;
	color:				#fff;
}

#migration p {
	font-size:			22px;
	line-height:		32px;
	margin-bottom:		16px;
	display:			inline;
	float: 				left;
	position: 			relative;
	margin-left: 		248px;
	margin-right: 		248px;
	width:				464px;
}

#progress_bar {
	display:			inline;
	float: 				left;
	position: 			relative;
	margin-left: 		80px;
	margin-right: 		80px;
	width:				784px;
	background-color:	#fff;
	border-radius: 		2px;
	height:				30px;
	border: 			1px solid #989898;
	overflow:			hidden;
}

#progress_bar #progress {
	display:			block;
	position:			absolute;
	width:				784px;
	background-color:	#507282;
	padding:			0 1px;
	box-shadow:			0 1px 2px #000;
	border-radius: 		2px;
	height:				30px;
	margin-left:		-784px;
}

#status {
	display:			inline;
	float: 				left;
	position: 			relative;
	margin-left: 		8px;
	margin-right: 		8px;
	width:				944px;
	height: 			192px;
	margin-top:			48px;
	overflow-y:			scroll;
	overflow-x:			hidden;
	background-color:	#ccc3a9;
	border-radius:		2px;
}

#status li {
	margin:				16px;
}

/*custom upload elements*/
.customfile-input { 
	position: absolute;
	height: 100px;
	cursor: pointer;
	background: transparent;
	border: 0;
	opacity: 0;
	-moz-opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	z-index: 999;
}

.customfile { 
	display:			inline;
	float: 				left;
	position: 			relative;
	margin-left: 		248px;
	margin-right: 		248px;
	width:				464px;
	background:			#fff;
	cursor: 			pointer;
	overflow: 			hidden;
	padding: 			2px;
	font-family: 		"Museo", "Palatino", "Hoefler Text", "Baskerville", "Georgia", "Times New Roman", serif;
	font-weight:		200;
	border:				1px solid #989898;
	border-radius:		2px;
	margin-bottom:		16px;
}

.customfile-disabled { 
	opacity: .5;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	cursor: default;
}

.customfile-feedback {
	display: 			block;
	padding-left:		6px;
	height:				26px;
	line-height:		26px;
	font-size: 			18px;
	color: 				#000;
}

.customfile-feedback-populated {
	color: 			#000;
}

.customfile-button { 
	font-family: 		"Museo", "Palatino", "Hoefler Text", "Baskerville", "Georgia", "Times New Roman", serif;
	font-weight:		200;
	background-color:	#989898;
	color: 				#fff;
	float: 				right;
	height:				26px;
	line-height:		26px;
	padding:			0 8px;
	text-align: 		center;
	text-decoration: 	none;
	font-size: 			18px;
	border-radius:		2px;
}

.customfile-hover .customfile-button,
.customfile-focus .customfile-button  {
	background-color:	#aaa;
}

.customfile-focus .customfile-button { 
	outline: 1px dotted #ccc;
}

/**
 * 404
 */

#fof {
	margin-left: 		auto;
	margin-right: 		auto;
	width: 				954px;
	padding-left:		8px;
	padding-right:		8px;
	margin-top:			48px;
	text-align:			center;
}

/**
 * View Client
 */

h1.client {
	display:			inline;
	float: 				left;
	position: 			relative;
	margin:				11px 8px 0 8px;
	width:				784px;
	font-size:			40px;
	line-height:		40px;
	padding:			16px 0;
}

#balance {
	display:			inline;
	float: 				left;
	position: 			relative;
	width:				144px;
	text-align:			right;
	background-color:	#8eb640;
	border-radius:		2px;
	height:				16px;
	padding:			16px 8px;
	font-size:			24px;
	line-height:		16px;
	color:				#fff;
	margin-top:			16px;
}

#balance.negative_balance {
	background-color: #bf492f;
}

address.client, address.job {
	display:			inline-block;
	float: 				left;
	position: 			relative;
	margin-left: 		8px;
	margin-right: 		8px;
	width:				944px;
	line-height:		16px;
	height:				16px;
	padding-top:		3px;
	font-family:		Helvetica, Arial, sans-serif;
	margin-bottom:		48px;
}

#client_contact {
	display:			inline;
	float: 				left;
	position: 			relative;
	width:				960px;
	margin-bottom:		48px;
}

#client_contact li {
	display:			inline;
	float: 				left;
	position: 			relative;
	margin-left: 		8px;
	margin-right: 		8px;
	width:				304px;
	font-size:			24px;
	word-wrap: 			break-word;
}

.clear {
	clear:				both;
}

.clear-after:after {
	content:			"";
	display:			block;
	width:				0;
	height:				0;
	clear:				both;
}

#client_contact li span {
	font-size:			16px;
	margin-bottom:		16px;
	display:			block;
	font-family:		Helvetica, Arial, sans-serif;
}

/**
 * Job List
 */

#list {
	width: 				960px;
	overflow:			hidden;
	float: 				left;
	margin-bottom: 		48px;
	border-top: 		1px solid #ccc3a9;
}

#list tr {
	height: 			48px;
	line-height: 		48px;
}

#list tr:hover a {
	background-color: 	#8eb640;
	color: 				#e5dac0;
}

#list tr.odd {
	background-color: 	#ccc3a9;
}

#list a {
	display: 			inline-block;
	width: 				100%;
	height: 			100%;
	text-decoration: 	none;
	padding: 			0 8px;
	color: 				#000;
}

/**
 * NOTES
 */

#notes {
	padding-bottom:		48px;
	display:			inline;
	float: 				left;
	position: 			relative;
	width:				480px;
	border-radius:		2px;
	overflow:  			hidden;
}

#notes span.name {
	font-size:			18px;
	font-weight:		500;
}

#notes a.note_delete {
	text-decoration: 	none;
	position:			absolute;
	width:				16px;
	height:				16px;
	line-height:		16px;
	background-color:	#e5dac0;
	color:				#ccc3a9;
	padding:			0;
	border-radius:		2px;
	text-align:			center;
	right:				8px;
	text-transform:		uppercase;
	display:			none;
	background-image:	url('../img/tanx.png');
	background-repeat:	no-repeat;
	background-position:50% 50%;
}

#notes a.note_delete:hover {
	background-color:	#bf492f;
}

#notes li:hover a.note_delete {
	display:			block;
}

#notes span.name:after {
	content:			" - ";
}

#notes span.text {
	font-family:		Helvetica, Arial, sans-serif;
	font-size:			16px;
}

#notes span.date {
	font-family:		Helvetica, Arial, sans-serif;
	height:				16px;
	display:			block;
	text-align:			right;
	color:				#e5dac0;
	margin-top:			16px;
}

#notes li {
	display:			block;
	padding:			8px 8px 7px 8px;
	margin-bottom:		1px;
	background-color:	#ccc3a9;
}

#notes input {
	width:				446px;
	font-size:			18px;
	padding-left:		7px;
	padding-right:		7px;
}

/**
 * ACTION LINKS
 */

#action_links li {
	display:			inline;
	float: 				left;
	position: 			relative;
	margin-left: 		8px;
	margin-right: 		8px;
	width:				304px;
}

#action_links a {
	display:			block;
	height:				16px;
	width:				304px;
	padding:			240px 0 48px 0;
	text-align:			center;
	background-color:	#ccc3a9;
	font-size:			40px;
	color:				#5c4d40;
	text-decoration:	none;
	border-radius:		2px;
}

#action_links li.create_client a {
	background-image:	url('../img/client_sprite_large.png');
	background-repeat:	no-repeat;
	background-position:0 -1px;
}

#action_links li.merge_clients a {
	background-image:	url('../img/merge_sprite_large.png');
	background-repeat:	no-repeat;
	background-position:0 -1px;
}

#action_links li.search_clients a {
	background-image:	url('../img/search_sprite_large.png');
	background-repeat:	no-repeat;
	background-position:0 -1px;
}

#action_links li.search_jobs a {
	background-image:	url('../img/search_sprite_large.png');
	background-repeat:	no-repeat;
	background-position:0 -1px;
}

#action_links li.apply_payment a {
	background-image:	url('../img/payment_sprite_large.png');
	background-repeat:	no-repeat;
	background-position:0 -1px;
}

#action_links li.create_job a {
	background-image:	url('../img/job_sprite_large.png');
	background-repeat:	no-repeat;
	background-position:0 -1px;
}

#action_links li.create_invoice a {
	background-image:	url('../img/invoice_sprite_large.png');
	background-repeat:	no-repeat;
	background-position:0 -1px;
}

#action_links li.create_user a {
	background-image:	url('../img/user_sprite_large.png');
	background-repeat:	no-repeat;
	background-position:0 -1px;
}

#action_links li a:hover {
	background-position:0 -305px;
	color:				#000;
}

/**
 * CREATE/EDIT CLIENT
 */

.edit_form {
	margin-top:			32px;
}

.edit_form > ul {
	margin-bottom:		32px;
}

.edit_form > ul > li {
	display:			inline;
	float: 				left;
	position: 			relative;
	margin-left: 		8px;
	margin-right: 		8px;
	margin-bottom:		16px;
	width:				944px;
}

.edit_form input[type="text"],
.edit_form input[type="password"]

{
	display:			inline-block;
	width:				608px;
	height:				46px;
	margin-right:		8px;
	font-family: 		"Museo", "Palatino", "Hoefler Text", "Baskerville", "Georgia", "Times New Roman", serif;
	font-weight:		200;
	font-size:			24px;
	padding:			0 7px;
}

select {
	display:			inline-block;
	width:				608px;
	height:				46px;
	margin-right:		8px;
	font-family: 		"Museo", "Palatino", "Hoefler Text", "Baskerville", "Georgia", "Times New Roman", serif;
	font-weight:		200;
	font-size:			24px;
	padding:			0 7px;
}

label.hint {
	vertical-align:		bottom;
	display:			inline-block;
	position: 			relative;
	width:				288px;
	height:				32px;
	background-color:	#bf492f;
	border-radius:		2px;
	font-size:			16px;
	color:				#fff;
	padding:			8px;
	opacity:			0;
}

label.hint:before {
	content:			"";
	position:			absolute;
	width:				0px;
	height:				0px;
	border-top:			8px solid transparent;
	border-bottom:		8px solid transparent;
	border-right:		8px solid #bf492f;
	left:				-8px;
	top:				16px;
}

#error_labels {
	display:			none;
}

#error_labels label {
	display:			none;
}

label.hint.valid {
	background-color:	#85b53d;
}

label.hint.valid:before {
	border-right:		8px solid #85b53d;
}

.edit_form > ul > li.submit_container {
	text-align:  		right;
	margin-right:		336px;
	width:				624px;
}


.edit_form > ul > li.new_contact {
	overflow:			hidden;
	color:				#ccc3a9;
	display:			block;
	margin-right:		360px;
	width:				600px;
	text-align:			right;
}

.edit_form > ul > li.new_contact:hover {
	color:				#5c4d40;
}

.edit_form > ul > li.new_contact:hover a {
	background-color:	#5c4d40;
}

.new_contact a {
	display:			inline-block;
	text-decoration:	none;
	width:				32px;
	height:				32px;
	line-height:		32px;
	color:				#e5dac0;
	text-align:			center;
	background-color:	#ccc3a9;
	border-radius:		2px;
	font-size:			24px;
}

.edit_form > ul > li.new_contact:hover a:hover,
.new_contact a:hover {
	background-color:	#85b53d;
}

/**
 * CREATE/EDIT JOBS
 */

.edit_form input[type="text"].job_item {
	width:				448px;
}

.edit_form input[type="text"].job_amount {
	width:				128px;
	margin-right:		8px;
	margin-left:		8px;
}

/**
 * Autocomplete
 */

input[disabled] {
	background-color:	#fff; !important
}

.SCButton {
	position:			absolute;
	width: 				44px;
	height:				44px;
	vertical-align:  	bottom;
	background-color:	#989898;
	border-radius:		2px;
	margin:				2px 2px 2px -54px;
	border:				none;
	cursor:				pointer;
	margin-left:		-54px;
	background-image:	url('../img/white_dropdown_arrow.png');
	background-position:50% 50%;
	background-repeat: 	no-repeat;
}

.SCSelect {
	margin-right:		0;
}

.SCInput {
	background-color:	transparent;
}

.SCList {
	background-color:	#fff;
	max-height:			128px;
	position:			absolute;
	z-index:			9999;
	overflow-y:			scroll;
	overflow-x:			hidden;
	border-radius:		2px;
	padding:			0;
	text-indent:		0;
	box-shadow:			0 1px 2px #5c4d40;
}

.SCList > li {
	margin:				0; !important
	padding:			0; !important
	text-indent:		0; !important
}

.SCList a {
	display:			block;
	height:				16px;
	color:				#000;
	text-decoration:	none;
	padding:			8px;
	margin:				0;
}

.SCList:hover .SCSelected a {
	background-color:	transparent;
}

.SCSelected a,
.SCList a:hover,
.SCList:hover .SCSelected a:hover {
	background-color:	#cbcbcb;
}

/**
 * LOGS
 */

ul#log {
	display:			inline;
	float: 				left;
	position: 			relative;
	margin-left: 		8px;
	margin-right: 		8px;
	margin-bottom:		48px;
	width:				928px;
	padding:			16px;
	background-color:	#ccc3a9;
}

ul#log li {
	margin-bottom:		16px;
}

ul#log li:last-child {
	margin-bottom:		0;
}

#logs_form > ul > li {
	display:			inline;
	float: 				left;
	position: 			relative;
	margin-left: 		8px;
	margin-right: 		8px;
	margin-bottom:		48px;
	padding-left:		159px;
	padding-right:		159px;
	width:				626px;
}

#logs_form input[type="text"]
{
	display:			inline-block;
	width:				608px;
	height:				46px;
	font-family: 		"Museo", "Palatino", "Hoefler Text", "Baskerville", "Georgia", "Times New Roman", serif;
	font-weight:		200;
	font-size:			24px;
	padding:			0 7px;
}

#logs_form .SCButton {
	margin-left: 		-46px;
}

/*
	Variable Grid System.
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/

	Licensed under GPL and MIT.
*/

/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/

body {
  min-width: 960px;
}

/* Containers
----------------------------------------------------------------------------------------------------*/
.container_12 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/


.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	display:			inline;
	float: 				left;
	position: 			relative;
	margin-left: 		8px;
	margin-right: 		8px;
}



.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12 {
	position:relative;
}


/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .grid_1 {
	width:64px;
}

.container_12 .grid_2 {
	width:144px;
}

.container_12 .grid_3 {
	width:224px;
}

.container_12 .grid_4 {
	width:304px;
}

.container_12 .grid_5 {
	width:384px;
}

.container_12 .grid_6 {
	width:464px;
}

.container_12 .grid_7 {
	width:544px;
}

.container_12 .grid_8 {
	width:624px;
}

.container_12 .grid_9 {
	width:704px;
}

.container_12 .grid_10 {
	width:784px;
}

.container_12 .grid_11 {
	width:864px;
}

.container_12 .grid_12 {
	width:944px;
}




/* Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .prefix_1 {
	padding-left:80px;
}

.container_12 .prefix_2 {
	padding-left:160px;
}

.container_12 .prefix_3 {
	padding-left:240px;
}

.container_12 .prefix_4 {
	padding-left:320px;
}

.container_12 .prefix_5 {
	padding-left:400px;
}

.container_12 .prefix_6 {
	padding-left:480px;
}

.container_12 .prefix_7 {
	padding-left:560px;
}

.container_12 .prefix_8 {
	padding-left:640px;
}

.container_12 .prefix_9 {
	padding-left:720px;
}

.container_12 .prefix_10 {
	padding-left:800px;
}

.container_12 .prefix_11 {
	padding-left:880px;
}



/* Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .suffix_1 {
	padding-right:80px;
}

.container_12 .suffix_2 {
	padding-right:160px;
}

.container_12 .suffix_3 {
	padding-right:240px;
}

.container_12 .suffix_4 {
	padding-right:320px;
}

.container_12 .suffix_5 {
	padding-right:400px;
}

.container_12 .suffix_6 {
	padding-right:480px;
}

.container_12 .suffix_7 {
	padding-right:560px;
}

.container_12 .suffix_8 {
	padding-right:640px;
}

.container_12 .suffix_9 {
	padding-right:720px;
}

.container_12 .suffix_10 {
	padding-right:800px;
}

.container_12 .suffix_11 {
	padding-right:880px;
}



/* Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .push_1 {
	left:80px;
}

.container_12 .push_2 {
	left:160px;
}

.container_12 .push_3 {
	left:240px;
}

.container_12 .push_4 {
	left:320px;
}

.container_12 .push_5 {
	left:400px;
}

.container_12 .push_6 {
	left:480px;
}

.container_12 .push_7 {
	left:560px;
}

.container_12 .push_8 {
	left:640px;
}

.container_12 .push_9 {
	left:720px;
}

.container_12 .push_10 {
	left:800px;
}

.container_12 .push_11 {
	left:880px;
}



/* Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .pull_1 {
	left:-80px;
}

.container_12 .pull_2 {
	left:-160px;
}

.container_12 .pull_3 {
	left:-240px;
}

.container_12 .pull_4 {
	left:-320px;
}

.container_12 .pull_5 {
	left:-400px;
}

.container_12 .pull_6 {
	left:-480px;
}

.container_12 .pull_7 {
	left:-560px;
}

.container_12 .pull_8 {
	left:-640px;
}

.container_12 .pull_9 {
	left:-720px;
}

.container_12 .pull_10 {
	left:-800px;
}

.container_12 .pull_11 {
	left:-880px;
}




/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
  zoom: 1;
}